.header_top {
    height: 56px;
    background-color: #ffffff;
    
}
.logo_1 h1 {
    padding-top: 8px;
    text-transform: uppercase;
    color: #040404;
    font-size: 30px;
    letter-spacing: 8px;
}
.logo p {
    padding-left: 30px;
    padding-top: 8px;
    text-transform: uppercase;
    color: #000000;
    font-size:13px;
    font-weight: 500;
}
.phone_number_header {
    text-align: left;
    padding: 0px;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
}
.heder_btn {
    width: 130px;
    background-color:  #fd6f49;
    height: 30px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;
    padding: 0px;
    margin-top: 13px;
}
/* style for section one */

.nav_bar {
    background-image: url('../img/nav_bg.png');
    height: 37px;
    position: absolute;
    z-index: 2;
}
.nav a {
    margin-top: 9px;
    padding-right: 64px;
    padding-left: 64px;
    border-right: 1px solid #cccccc;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
}
.nav :last-child a{
    border: none;
}
.nav-link{
    padding: 0px;
}
a.active {
    font-weight: 700;
}
.right_fon{
    background-image: url('../img/fon_1.png');
    background-size: contain;
    height: 389px;
    position: absolute;
    z-index: 4;
    margin-top: 35px;
}
.d-block{
    height: 704px;
}
.carousel-control-next, .carousel-control-prev {
     align-items: flex-end;
     height: 5px;
     margin-top: 388px;
     z-index: 12;
}
.carousel-control-next{
    left: 19.6%;
}
.carousel_prev_icon {
    display: inline-block;
    width: 20px;
    height: 30px;
    background-image: url('../img/control_indicator_left.png');
    background-size: 100% 100%;
}
.carousel_next_icon {
    display: inline-block;
    width: 20px;
    height: 30px;
    background-image: url('../img/control_indicator_right.png');
    background-size: 100% 100%;
}
.carousel-control-prev{
    left: 8.8%;
}
.carousel-indicators.active {
    background-color: #fff;
    padding: 1px;
}
.carousel-indicators {
    position: absolute;
    bottom: 296px;
    height: 20px;
    width: 5%;
    left: 4%;
    padding-left: 0;
    text-align: center;
    list-style: none;
  }
  .content{
    background-image: url('../img/foto_oboi_bg.png');
    background-size: cover;
    height: 99px;
    position: absolute;
    margin-top: 53px;
    z-index: 10;
    margin-left: 18px;

  }
  .content h1{
      text-transform: uppercase;
      font-size: 90px;
      color: #000000;
      text-align: center;
      font-weight: 700;
  }
  .content_2{
    background-image: url('../img/foto_oboi_bg_2.png');
    background-size: cover;
    height: 55px;
    position: absolute;
    margin-top: 165px;
    z-index: 10;
    width: 20%;
  }
  .content_2 h1 {
    color: #000000;
    text-align: center;
    font-style: italic;
    font-weight: 700;
   font-size: 32px;
    margin-bottom: 5px;
  }
  .line {
    margin-top: 5px;
    color:#000;
    margin: auto;
    size: 2px;

  }
  .content_3 {
      height: 46px;
      background-image: url('../img/foto_oboi_bg_3.png');
      background-size: cover;
      position: absolute;
      margin-top: 171px;
      margin-left: 19.5%;
      z-index: 10;
      width: 12%;
      color: #fff;
  }
  .content_3 p {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    word-spacing: 5px;
  }
  .content_3 b{
    font-weight: 700;
    font-size: 32px;
  }
 .content_4 {
    position: absolute;
    margin-top: 232px;
    z-index: 10;
    margin-left: 30px;
 }
 .content_4 h1{
     line-height: 1.5;
     font-size: 19px;
     color:#fff;
     text-transform: uppercase;
     font-weight: 700;
 }
 .content_btn{
    position: absolute;
    margin-top: 298px;
    z-index: 10;
    margin-left: 30px;
    background-color: #ff5655;
    border: 2px solid #fff;
    font-size: 23px;
    color: #fff;
    font-weight: 500;
 }
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
  }

.section_two{
    margin-top: -280px;
    height: 280px;
    background:#ffffff;
    z-index: 3;
    opacity: 0.8;
    position: absolute;
  }
.sec_two{
    padding-top: 18px;
    height: 238px;
    text-align: center;

  }
.sec_two h1{
    margin-top: 6px;
   font-size: 18px;
   font-weight: 700;
}
.sec_two p{
   font-size: 14px;
  
}
